body{
    background-color: #222;
    padding: 0;
    margin: 0;
}

.co-nav{
    margin-top: 0px;
    background-color: rgba(110, 110, 110, 0.377);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0;
    z-index: 2;
}

.co-div-head ul{
    display: inline-block;
    color: white;
    list-style: none;
}
.co-div-head ul li{
    display: inline-block;
  
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.co-div-head .co-img{
    display: inline-block;
    padding-left: 400px;
    padding-top: 20px;
}
.co-div-head ul li:hover{
    color: rgb(238, 180, 99);
    cursor: pointer;
    border-bottom: 4px solid;
    text-align: center;
   
}
.Home{
    background-image: url("../MY_Website/image/aa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    position: relative;
    margin-top: 86px;
    width: 300px;
    height: auto;
    background: #efefef;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    left: 20%;
    
    overflow: hidden;
    z-index: 1;
}
.card img{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    border-radius: 50%;
}
.card h1{
    font-size: 28px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  
}
.card ul{
    list-style: none;

}
.card ul li{
    display: inline-block;
    margin: 20px 10px;

}
.card ul li a{
    color: #2980b9;
    font-size: 20px;
    transition: 0.2s;
}
.card ul li a:hover{
    color: #000;
  
}
.card .btn1{
    text-decoration: none;
    color: #000;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 2px;
    padding: 10px;
    margin-top: 15px;
    display: inline-block;
    transition: 0.2s;
    border: 1px solid #000;

}
.card .btn1:hover{
    border-color: #000;
    background-color: #000;
    color: #fff;
}
.card::before{
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    background-color: #2980b9;
    bottom: 0;
    right: -10px; 
    z-index: -1;
    border-top-left-radius: 100px;
    transition: 0.5s;

}
.card:hover::before {
    transform: scale(10);
    color: #000;

}
.card:hover a{
    color: #fff;
}

.co-about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.co-h1 h1{
    padding-top: 50px;
text-align: center;
color: rgba(250, 235, 215, 0.486);
}
.co-about p{

    text-align: center;
    background-color: #2980b9;
    color:white ;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    padding-right: 45px;
    top: 85px;
    font-size: 12px;
    font-weight:bold;
    max-width: 30%;
    word-spacing: 9px;
    line-height: 37px;
    border-radius:25px  25px  25px 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.co-about p:hover{
     
    transform:scale(1.1);
    transition: 0.5s;
    background-color: aliceblue;
    color: #2980b9;
    border-radius: 10px;
}
footer{
    background-color: #2980b9;
    margin-top: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
}
footer p{
font-size: 22px;
text-align: center;
color: white;
}
footer p span{
    color:aqua;
}
.btn{
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;

}
.btn:hover{
    letter-spacing: 5px;
}
a{
   
    width: 100%;
    text-decoration: none;
    color: white;
    letter-spacing: 0;
}

.co-skills{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  

}
.co-card{
    background-color: white;
    width: 270px;
    height: 400px;
    margin: 10px;
   border-radius: 15px;

}
.card-image{
    background-color: aqua;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}


.car-1{
    background-image: url(../MY_Website/image/1654289429874.png);
}
.car-2{
    background-image: url(../MY_Website/image/1654289625720.png);
}
.car-3{
    background-image: url(../MY_Website/image/1654289761797.png);
}
.co-card p{
    padding: 10px;
}
.co-card a{
    background-color: #222;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}
.contaner .Whatsapp{ 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #2980b9;
     font-size: 22px;
   cursor: pointer;

    }
    .contaner .Whatsapp i {
        padding: 10px;
    }
.contaner .Whatsapp img{
    border-radius:50px;
    padding-top: 50px;
width: 50px;
margin-left: 20px;
margin-right: 20px;
}
.contaner .Whatsapp i:hover{
    transform: scale(1.3);
}
